body
{
 background-color: darkcyan;
}
.main
{
    /* background-color: pink; */
    padding: 10px;
    display: grid;
    grid-template-areas:
    "item1 item2 item3"
    "item4 item6 item6"
    "item5 item6 item6";
    grid-template-rows:  45px 45px 45px;
    gap: 5PX;
    width: 50vw;
    margin: auto;

}
.item1
{
    background-color: antiquewhite;
    grid-area: item1;
}
.item2
{
    background-color: aqua;
    grid-area: item2;
}
.item3
{
background-color: bisque;
grid-area: item3;
}
.item4
{
    background-color: blueviolet;
    grid-area: item4;
}
.item5
{
background-color: brown;
grid-area: item5;
}
.item6
{
background-color: chocolate;
grid-area: item6;
}
    






.main1
{
      /* background-color: bisque;  */
    padding: 10px;
    display: grid;
    grid-template-areas:
    "c1 c2 c2 c3"
    "c1 c4 c5 c6"
    "c1 c8 c7 c6"
    ;
    grid-template-rows:  45px 45px 45px;
    gap: 5PX;
    width: 50vw;
    margin: auto;

}
.c1
{
background-color: aquamarine;
grid-area: c1;
}
.c2
{
    background-color:red;
    grid-area: c2;   
}
.c3
{
    background-color: green;
    grid-area: c3;   
}
.c4
{
    background-color: yellow;
    grid-area: c4;  
}
.c5
{
    background-color: orange;
    grid-area: c5;  
}
.c6
{
    background-color: brown;
    grid-area: c6;  
}
.c7
{
    background-color:pink;
    grid-area: c7;  
}
.c8
{
    background-color: blue;
    grid-area: c8;  
}







 .main2 {
     /* background-color:lightgray ; */
    padding: 10px;
    display: grid;
    grid-template-areas:
    "d1 d2 d2 d3 d4 d5 d7"
    "d8 d6 d6 d6 d4 d5 d7"
    "d8 d6 d6 d6 d4 d5 d7"
    ;
    /* grid-template-rows: 45px 45px 45px; */
    gap: 5px;
    height: 40vh;
    width:50vw;
    margin: auto;
}
.d1
{
background-color: aquamarine;
grid-area: d1;

}
.d2
{
    background-color:red;
    grid-area: d2;
  
}
.d3
{
    background-color: green;
    grid-area: d3;   
}
.d4
{
    background-color: yellow;
    grid-area: d4;  
}
.d5
{
    background-color: orange;
    grid-area: d5;  
}
.d6
{
    background-color: brown;
    grid-area: d6;  
}
.d7
{
    background-color:pink;
    grid-area: d7;
    width: 2vw; 
   
}
.d8
{
    background-color: blue;
    grid-area: d8;
  
} 